/.DS_Store
/.cursor
/Hospital_Bed.jpeg
/OR example.png
/Roblox Doctor image.png
/Silly_noob_potrait.jpeg
/exterior exam.png
/floorplan.md
/frames
/hospital interior room example.png
/hs_err_pid53754.log
/hs_err_pid54045.log
/hs_err_pid54148.log
/hs_err_pid54585.log
/maple hospital walkthrough.mp4
/menu style example.jpeg
/menu style.jpeg
/plan.md
/roblox hospital interior example.png
/room interior example.png
/style.md
/style.png
/tools